body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #34B3F1;
}
.collElement{
   
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
}

.rowElement{
    margin: 0;
    background-color: white;
    width: 960px;
    
    
}

.flex-container{
    display: flex;
}

.container{
    width: 960px;
    height: 960px;

    flex:1;
}

.buttons{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border: 5px solid #000000;
    border-radius: 25px 0 0 25px;
}


.button{
    font-size: 2rem;
    padding: 5% 10%;
    background-color: #F15412;
    border: 1px solid #EEEEEE;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;

}

.button:hover{
    background-color:#EEEEEE;
}

.title{
    font-size: 3rem;
}

